@using ZoomLa.Model
@model ZoomLa.Model.Message.M_Guest_Bar
@{
    M_GuestBookCate cateMod=ViewBag.cateMod; 
    Layout = "~/Views/Bar/_PostBar.cshtml";
}
@section head{
<title>@(Call.SiteName)社区</title>
<script src="/Plugins/Ueditor/bar.config.js"></script>
<script src="/Plugins/Ueditor/ueditor.all.min.js"></script>
<link href="/Plugins/mbeditor/mbeditor.css" rel="stylesheet" />
<script src="/Design/h5/js/zepto.js"></script>
<script src="/Plugins/mbeditor/mbeditor.js"></script>

<style>
.VCode_div i { position:absolute; left:70px; top:8px; z-index:10; }
</style>
}
@section content{
<div class="container padding0_xs">
<form method="post" action="@MVCHelper.GetAction("/Bar/Post_Add", Request, "rurl=/PItem?id=" + (Model.Pid == 0 ? Model.ID : Model.Pid))">
<div class="weui-panel weui-panel_access margin_top0">
@if (Model.Pid == 0)
{
<div class="weui-cell">
<div class="weui-cell__bd">
<input class="form-control input-sm" type="text" placeholder="请输入标题" id="MsgTitle_T" name="MsgTitle_T" value="@Model.Title" />
</div>
</div>
}
<div class="weui-cell">
<div class="weui-cell__bd" style="min-height:150px; border:1px solid #ccc">
<textarea ID="MsgContent_T" name="MsgContent_T" data-type="normal" style="height: 200px;width:100%;" placeholder="说点什么吧...">@Model.MsgContent</textarea>
</div>
</div>
@if (1 == 0)
{
@*新内容需要验证码*@
<div class="weui-cell">
<div class="weui-cell__hd"><label class="weui-label">验证码</label></div>
<div class="weui-cell__bd">
<input type="hidden" id="VCode_hid" name="VCode_hid" />
<div class="input-group input-group-sm VCode_div">
<input type="text" ID="VCode" name="VCode" placeholder="验证码" MaxLength="6" class="form-control" autocomplete="off" />
<span class="input-group-addon" style="padding-top:1px; padding-bottom:1px; padding-left:5px; padding-right:5px;">
<img id="VCode_img" class="codeimg" title="点击刷新验证码" style="height:auto;" />
</span>
</div>
</div>
</div>
}
</div>

<div class="weui-btn-area">
<button type="submit" class="weui-btn weui-btn_primary" onclick="return CheckData();">发布主题</button>
@if(Model.ID !=0 ){
<button type="button" class="weui-btn weui-btn_warn" id="DelMsg_Btn" onclick="PostDelMsg('@Model.ID')">删除主题</button>
}
<button type="reset" class="weui-btn weui-btn_default">重置主题</button>
<a href="/Index" class="weui-btn weui-btn_default">取消发布</a>
</div>

</form>
<script type="text/javascript">
var editor = new ___E('MsgContent_T');
editor.config.menus = ['img','happy'];
editor.init();
editor.$txt.focus();

//UE.getEditor('MsgContent_T', {
//    toolbars: [['simpleupload','emotion']]
//});
</script>
</div>
}
@section script{
<script src="/JS/ZL_ValidateCode.js"></script>
<script>
    $("#VCode").ValidateCode();
	function CheckData() {
	    var msg = UE.getEditor("MsgContent_T").getContent();;
	    if ($("#MsgTitle_T").val() == "") { alert("贴子标题不能为空!"); return false;}
		if (msg.replace(" ", "") == "") { alert("内容不能为空"); return false; }
		//if ($("#VCode").val() == "") { alert("验证码不能为空"); return false; }
		return true;
	}
	function GetSource() { return "@Html.Raw(Request.RawUrl)"; }
    //删除帖子
    function PostDelMsg(msgid) {
         
        if (confirm("确定要删除该条信息吗!!")) { 
            PostToCS("DeleteMsg", msgid, function (data) { if (data == "failed") alert("删除失败,当前用户无权限!"); });
        }
    } 
</script> 

}
