@using ZoomLa.Model
@using ZoomLa.BLL
@using ZoomLa.Controls
@{
    Layout = "~/Areas/User/Views/Shared/_layout.cshtml";
    M_UserInfo mu = ViewBag.mu;
    M_Uinfo basemu = ViewBag.basemu;
    mu=new B_User().GetLogin();
    M_Group groupMod = new M_Group();
    B_Group groupBll = new B_Group();
    groupMod = groupBll.SelReturnModel(mu.GroupID);
    string truename = mu.UserName;
    if (!string.IsNullOrEmpty(mu.TrueName))
    {
        truename = mu.TrueName;
    }
}
@section head{
    <title>基本信息</title>
    <script src="/JS/ICMS/area.js"></script>
    <script src="/JS/Controls/ZL_PCC.js"></script>
    <style>
	.text_100 { width:100px; min-width:100px;}
	.sfile_updiv #UserFace_t { display:none;}
    </style>
}
@section content{
<div class="nuser_top" hidden>
<p>个人中心</p>
</div>
<form action="@MVCHelper.GetAction(Url.Action("UserBase_Edit","Info"),Request)" method="post">
<div class="container margin_top15" hidden>
<div class="user_top">
<div class="media">
<div class="media-left">
<a href="/User/Info/UserInfo.aspx"><img src="@MvcHtmlString.Create(Call.GetLabel("{ZL.Label id=\"获取当前登录用户头像\"/}"))" onerror="this.src='/images/userface/noface.gif'" alt="" /></a>
</div>
<div class="media-body media-middle">
<p>@MvcHtmlString.Create(Call.GetLabel("{ZL.Label id=\"获取当前登录用户真实姓名\"/}")) <span>@MvcHtmlString.Create(Call.GetLabel("{ZL.Label id=\"获取当前登录用户会员组名\"/}"))</span><a href="/wxshare.aspx" id="wxshare">我的二维码</a></p>
<p>上次登陆时间：@MvcHtmlString.Create(Call.GetLabel("{ZL.Label id=\"获取当前登录用户上次登录时间\"/}"))</p>
</div>
</div>
</div>
</div>
<div class="muser_top">
<div class="container">
<div class="media">
<div class="media-left"><a href="/User/Info/UserBase"><img src="@mu.UserFace" alt="@mu.UserName" onerror="javascript:this.src='/Images/userface/noface.png';" /></a></div>
<div class="media-body media-middle">
<p class="muser_p"><span>@MvcHtmlString.Create(Call.GetLabel("{ZL.Label id=\"获取当前登录用户真实姓名\"/}"))</span><span><span>@groupMod.GroupName</span></span></p>
<h4>上次登陆时间：@MvcHtmlString.Create(Call.GetLabel("{ZL.Label id=\"获取当前登录用户上次登录时间\"/}")) </h4>
<p><a href="/User/Info/UserBase"> 账号管理 </a></p>
</div>
</div>
</div>
</div>
<div class="container muser_info padding0_xs">
<div role="tabpanel">
<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
<li role="presentation" class="active"><a href="/User/Info/UserBase">基本资料</a></li>
<li role="presentation"><a href="/User/Change/Pwd">修改密码</a></li>
<li role="presentation"><a href="/User/Change/Mobile">手机绑定</a></li>
<li role="presentation"><a href="/User/Info/UserRecei">我的地址</a></li>
</ul>
</div>
</div>

<div class="muser_base">
<div class="container padding0_xs">
<div class="muser_base_t" style="margin-top:0; margin-bottom:0;">
<div class="media">
<div class="media-left"><a href="javascript:;" Onclick="SetCutPic()">@Html.Partial("C_SFileUP", new C_SFileUP { FileType = "img", MaxHeight = 50, MaxWidth = 50, UP_After = "changeFace", ID = "UserFace", Value = mu.UserFace })</a></div>
<div class="media-body media-middle">
</div>
</div>
</div>
</div>
</div>

<div class="container padding0_xs">
<div class="weui-cells weui-cells__form">
<input type="hidden" value="@MvcHtmlString.Create(Call.GetLabel("{ZL.Label id=\"获取当前登录用户真实姓名\"/}"))" />
<div class="weui-cell">
<div class="weui-cell__hd"><label class="weui-label">生日</label></div>
<div class="weui-cell__bd">
<input type="text" id="tbBirthday" name="tbBirthday" class="weui-input text_md" placeholder="请输入出生日期" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'});" value="@basemu.BirthDay" />
</div>
</div>

<div class="weui-cell">
<div class="weui-cell__hd"><label class="weui-label">地区</label></div>
<div class="weui-cell__bd">
<select id="tbProvince" class="form-control text_100"></select>
<select id="tbCity" class="form-control text_100"></select>
<select id="tbCounty" class="form-control text_100"></select>
<input id="address" name="address" type="hidden" value="@basemu.Province,@basemu.City,@basemu.County" />
</div>
</div>

<div class="weui-cell">
<div class="weui-cell__hd"><label class="weui-label">地址</label></div>
<div class="weui-cell__bd">
<input type="text" id="tbAddress" name="tbAddress" class="weui-input text_md" value="@basemu.Address" placeholder="请输入地址" />
</div>
</div>

<div class="weui-cell weui-cell_vcode">
<div class="weui-cell__hd"><label class="weui-label">手机</label></div>
<div class="weui-cell__bd">
<input type="text" disabled="disabled" id="Mobile_L" name="Mobile_L" oninvalid="@basemu.Mobile" class="weui-input text_md" value="@basemu.Mobile"/>
</div>
<div class="weui-cell__ft">
<a href="@Url.Action("Mobile","Change")" title="修改手机号" class="weui-vcode-btn">修改手机</a>
</div>
</div>

<div class="weui-cell">
<div class="weui-cell__hd"><label class="weui-label">身份证</label></div>
<div class="weui-cell__bd">
<input type="text" id="tbIDCard" name="tbIDCard" class="weui-input text_md idcard" style="columns:30;" placeholder="请输入正确身份证号" value="@basemu.IDCard" />
</div>
</div>
</div>
<div class="weui_btn_area margin_top20">
<input type="submit" id="btnSave" class="weui-btn weui-btn_primary" onclick="return SaveAdress()" value="更新信息">
</div>
</div> 
<div class="text-center">
<img src="/Template/EasyFace/style/images/logo.svg" alt="艺霏微站" style="max-width:50%;" />
</div>
<div class="u_sign" id="u_UserInfo"></div>
<input type="hidden" id="UserFieldCount_Hid" />
</form>
}
@section script{
<style type="text/css">
.modal {z-index: 10000;}
.cutImg {width: 1100px;}
label { font-weight:500; margin-bottom:0;}
.weui-cells { font-size:16px;}
.text_100 { width:33.333%; display:inline-block; float:left; min-width:0;}
</style>
<script src="/JS/DatePicker/WdatePicker.js" type="text/javascript"></script>
<script src="/JS/Common.js"></script>
<script src="/JS/Controls/ZL_Dialog.js"></script>
<script src="/JS/ZL_Content.js"></script>
<script>
    //判断div元素是否满屏，不满则自动补充高度，
    $(function (e) {
        $("#prefile_img").hide();
        if ($(".u_footer").position().top + $(".u_footer").outerHeight() < window.innerHeight)
            $(".u_footer").height(window.innerHeight - $(".u_footer").position().top - 3);//-3为减去div的border-top高度，否则出现滚动条
        if ("@Request.QueryString["sel"]" == "Tabs1") {
            $(".nav-tabs li").removeClass("active");
            $(".nav-tabs li:eq(2)").addClass("active");
        }
        $("form").validate();
    });
    $(function () {
        switchTab("@Request.QueryString["sel"]");
        var pcc = new ZL_PCC("tbProvince", "tbCity", "tbCounty");
        if ($("#address").val() != "") {
            var attr = $("#address").val().split(',');
            pcc.SetDef(attr[0], attr[1], attr[2]);
        }
        pcc.ProvinceInit();
    });
    function SaveAdress() {
        $("#address").val($("#tbProvince").val() + ',' + $("#tbCity").val() + ',' + $("#tbCounty").val());
        return true;
    }
    function SetCutPic() {
        var ipath = $("#UserFace_t").val();
        console.log(ipath);
        if (!ipath) { alert("请先指定头像"); return; }
        ShowComDiag("/Plugins/PicEdit/CutPic_User.aspx?ipath=" + ipath, "图片编辑");
    }
    function setCutUrl(url) {
        $("#UserFace_Img").attr("src", url);
        $("#UserFace").val(url);
    }
    function PageCallBack(action, url, pval) {
        $("#UserFace").val(url);
        $("#UserFace_Img").attr("src", url + "?" + Math.random());
        CloseComDiag();
    }
    $("#mimenu_btn").click(function (e) {
        if ($(".user_mimenu_left").width() > 0) {
            $(".user_mimenu_left ul").fadeOut(100);
            $(".user_mimenu_left").animate({ width: 0 }, 200);
        }
        else {
            $(".user_mimenu_left").animate({ width: 150 }, 300);
            $(".user_mimenu_left ul").fadeIn();
        }
    });
    //会员搜索
    $("#sub_btn").click(function (e) {
        if ($("#key").val() == "")
            alert("搜索关键字为空!");
        else
            window.location = "/User/SearchResult?key=" + escape($("#key").val());
    });
    //搜索回车事件
    function IsEnter(obj) {
        if (event.keyCode == 13) {
            $("#sub_btn").click(); return false;
        }
    }
    function switchTab(id) {
        switch (id) {
            case "Tabs1":
                $("#Tabs0").hide();
                $("#Tabs1").show();
                $("#switchID").val("Tabs1");
                break;
            case "Tabs0":
            default:
                $("#Tabs0").show();
                $("#Tabs1").hide();
                $("#switchID").val("Tabs0");
                break;
        }
        $("#switchID").val(id);
    }
    $().ready(function(e) {
        $("#wxshare").hide();
        var gid='@MvcHtmlString.Create(Call.GetLabel("{ZL.Label id=\"获取当前登录用户会员组ID\"/}"))';
        if(gid=="3") $("#wxshare").show();
    });
</script>
}
